[submodule "3rd-party/cereal"]
	path = 3rd-party/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "3rd-party/ELFIO"]
	path = 3rd-party/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "3rd-party/fmt"]
	path = 3rd-party/fmt
	url = https://github.com/fmtlib/fmt.git
